---
layout: default
---

<div class="story">
  {% for post in site.stories %}
    <article class="story">

      <h1><a href="{{ site.baseurl }}{{ post.url }}">{{ post.title }}</a></h1>

      <div class="entry">
        {{ post.excerpt }}
      </div>

      <script src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>

      <a href="{{ site.baseurl }}{{ post.url }}" class="read-more">Read More</a>
      

      <div class="tags2">
        {% for tag in post.tags2 %}
          <div class="tag {{tag}}">{{tag}}</div>
        {% endfor %}
      </div>

      
    </article>
  {% endfor %}
</div>

<div id="tag-pane">
<p class="filter-caption">
    Filter by tag:
    </p>
</div>

	<script>
		var getTagNamesFromPost = function(post){
			var tags2 = post.querySelectorAll(".tag");
			var tagNames = [];
				for(var i = 0; i < tags2.length; i++)
				{
					var tag = t
					var tagName = tag.classList[1];
					tagNames.push(tagName);
				}
			return tagNames;
		}

		var gettags2Andstories = function(stories){
			var allTagNames = [];
			var tags2Andstories = {};

			for(var i = 0; i < stories.length; i++)
			{
				var post = stories[i];

				var tagNames = getTagNamesFromPost(post);
				for(var j = 0; j < tagNames.length; j++)
				{
					var tagName = tagNames[j];
					allTagNames.push(tagName)

					if(tags2Andstories[tagName] === undefined)
						tags2Andstories[tagName] = [i];
					else
						tags2Andstories[tagName].push(i);
				}
			}

			return tags2Andstories;
		};
		var addClass = function(element, className){
			if (element.classList)
				element.classList.add(className);
			else
				element.className += ' ' + className;
		};

		var hideAllstories = function(stories){
			for(var i = 0; i < stories.length; i++)
			{
				stories[i].style.display = 'none';
			}
		};

		var displaystories = function(allstories, storiesToDisplay){
			hideAllstories(allstories);

			for(var i = 0; i < storiesToDisplay.length; i++)
			{
				var indexToShow = storiesToDisplay[i];
				allstories[indexToShow].style.display = '';
			}
		};

		var hasClass = function(element, cls) {
			return (' ' + element.className + ' ').indexOf(' ' + cls + ' ') > -1;
		};

		var removeClass = function(element, className){
			element.className = element.className.replace(className, "");
		};

		var removeSelectedClassFromAlltags2 = function(tags2Andtags2electorElements, selectedClass){
			for(var tagName in tags2Andtags2electorElements)
			{
				if(tags2Andtags2electorElements.hasOwnProperty(tagName))
				{
					removeClass(tags2Andtags2electorElements[tagName], selectedClass);
				}
			}
		};

		document.addEventListener("DOMContentLoaded", function(event) { 
			var stories = document.querySelectorAll('.post');
			var tags2Andstories = gettags2Andstories(stories);

			var divElement = document.createElement("div");
			addClass(divElement, "tag-selectors");

			var clearText = "clear";
			var cleartags2Element = document.createElement("p");
			addClass(cleartags2Element, "clear-tags2");
			cleartags2Element.innerText = clearText;
			divElement.appendChild(cleartags2Element);

			var selectedClass = "selected";

			var tags2Andtags2electorElements = {}
			tags2Andtags2electorElements[clearText] = cleartags2Element;

			for(var tagName in tags2Andstories)
			{
				if(tags2Andstories.hasOwnProperty(tagName))
				{
					var storiesContainingTag = tags2Andstories[tagName];
					var numberOfstories = storiesContainingTag.length;
					var classToAdd = "count-" + numberOfstories;

					var tagPElement = document.createElement("p");
					addClass(tagPElement, "tag-selector");
					addClass(tagPElement, classToAdd);
					tagPElement.textContent = tagName;

					tags2Andtags2electorElements[tagName] = tagPElement;

					divElement.appendChild(tagPElement);
				}
			}

			var clearShowing = "showing";

			for(var tagName in tags2Andtags2electorElements)
			{
				if(tags2Andtags2electorElements.hasOwnProperty(tagName))
				{
					tags2Andtags2electorElements[tagName]
						.addEventListener("click", 
						function(eventObj) {
							var tagName = eventObj.currentTarget.innerText;

							removeSelectedClassFromAlltags2(tags2Andtags2electorElements, selectedClass);

							if(tagName === clearText)
							{
								removeClass(cleartags2Element, clearShowing);
								var allstories = [];
								for(var n = 0; n < stories.length; n++)
									allstories.push(n);

								displaystories(stories, allstories);
								return;
							}
							addClass(cleartags2Element, clearShowing);
							addClass(tags2Andtags2electorElements[tagName], selectedClass);
							var storiesToShow = tags2Andstories[tagName];
							displaystories(stories, storiesToShow);
						});
				}
			}

			var tagPaneElement = document.getElementById("tag-pane");
			tagPaneElement.appendChild(divElement);
		});
	</script>
