$tagColour: lightblue;

@mixin tag-button($colour)
{
    border-radius: 15px;
    background: $colour;
    height: 20px; 
    vertical-align: middle;
    text-align: center;   
    font-size: 15px;
    width: 80px;
}

@mixin tag-button1($colour)
{
    border-radius: 15px;
    background: $colour;
    height: 20px; 
    vertical-align: middle;
    text-align: center;   
    font-size: 15px;
    width: 120px;
}


@mixin selected-button()
{
    border-radius: 15px;
    background: darkblue;
    color: white;
    height: 20px; 
    vertical-align: middle;
    font-size: 15px;
    width: 80px;
}

.posts
{
    width: 78%;
    display: inline-block;
}

#tag-pane
{
    width: 20%;
    vertical-align: top;
    display: inline-block;
    margin-top: 30px;

    div.tag-selectors
    {
        p.tag-selector
        {
            text-align: center;   
            @include tag-button($tagColour);
        }

        p.selected
        {
            @include selected-button();
        }
    }

}


div.tags
{
    margin-top: 10px;
    height: 30px;
}

p.filter-caption
{
    @include tag-button1(white);
}

div.tag
{
    display: inline;
    padding: 5px;
    @include tag-button($tagColour);
    width: 50px;
}

$clearWritingColour: black;

p.clear-tags
{
    @include tag-button(Gray);
}

